@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root {
    --header-font:"Fraunces", serif;
    --body-font:"Afacad Flux", system-ui;
}
h2 {
    font-family: var(--header-font);
}
    p {
     font-family:"Afacad Flux", sans-serif;
     font-size:20px;
    }
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#hero-outer{
    height:470px;
    width:1280px;

    position:relative;
}
#hero-image {
    width:100%;
    height:470px;
    background: url(images/pexels-ono-kosuki-5974404.jpg) no-repeat center center;
    overflow:hidden;
   
}
#course {
    padding:20px 20px 20px 20px;
    margin:auto;
}

#cover-text {
    font: size 120%;
    font-family:var(--header-font);
    width:300px;
    height:200px;
    margin:auto;
    padding-top:50px;
    position:absolute;
    color:#FFE8C8; 
    background-color:rgba(81, 59, 46, 0.5);
    text-align:center;
    top:300px;
    left: 200px;
    animation: mymove 2s ease-out;
   border-radius: 25px;
}
@keyframes mymove {
    from {left: 0px;}
  to {left: 200px;}
  }
#cover-text:hover {
    background-color:rgba(81, 59, 46, 0.7);
}

#available-courses {
    background-color:#B49777;
    padding:10px;
    text-align: center;
} 
.logo {
    max-height:100px;
}
.navbar {
    max-height:100px;
}
#navbar-banner {
    background-color: #FFE8C8;
    font-family: var(--body-font);
    font-size:medium;
}
.nav-item {
    color:#573F35;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
 /*#available-courses .card {
    flex: 1 0 auto;
  }
  
.row {
    text-align:center;
    color:#573F35;
   font-family: var(--body-font);
}*/
.card {
    min-height: 100%;
    
}
.card-body {
    background-color:rgba(81, 59, 46, 0.1);
    font-family:var(--body-font);
    color:#573F35;

}
.card-img-top {
    mask-image: linear-gradient(black, transparent);
    transition-duration: 5s;
    transition-delay: 2s;  
    transition-property: mask-image;
}
.card-img-top:hover, card-img-top:focus {
    mask-image:unset;
   
}
.btn-outline-secondary {
    color:#573F35;
    border-color:#513B2E;
}
.btn-outline-secondary:hover {
    background-color: #513B2E;
    color:white;
}
.testimonial-space {
    max-width:33%;
}
.carousel-inner {
    max-width:50%;
    text-align:center;
    margin:auto;
    padding:100px;
}
.carousel-inner h4 {
    
    color: #513B2E; 
}
.carousel-inner p {
    color:#573F35;
}
footer {
background-color:#473c38;
padding:20px;
color:#FFE8C8;
bottom: 0;
margin-top:auto;
}

footer li {
    list-style-type: none;
}

footer i {
    font-size: 100%;
    padding:5px;
    color: #FFE8C8;
}
footer .row {
    color: #FFE8C8;
}
.social {
color:#FFE8C8;
}
/* gallery page css */
#gallery-about {
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
    background-color:#B49777;
}

    
}
#gallery-about .card-body {
    padding:50%;
    
}

#pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

.col-lg-3.col-md-6.col-sm-12 {
    padding: 0;
   
}
#pictures .card {
    max-width:100%;
}
.position-absolute bottom-0 start-50 {
    color:white;
}
/* #pictures img {
    mask-image: linear-gradient(black, transparent);
} */

/* media queries below */ 
@media only screen and (max-width: 800px) {
#navbar-banner {
   font-size:2.5vh;
   text-align:justify;
}
}
@media only screen and (max-width: 576px) {
    .logo {
        max-height:150px;
    }
    .navbar {
        max-height:200px;
    }
    #cover-text {
        max-width: 100vw;
    }
    .card {
        max-width: 100vw;
        display:block; 
    }
    #navbar-banner {
        font-size: 2.5vh;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0;
    }
  
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
        text-align:center;
        font-size:2vh;
        
    }
    .navbar-nav li {
    padding:10px;
}
.row {
    display:block;

}
.col-6 {
    max-width:100%;
} 
.carousel-inner{
    max-width:100%;
}}